extends layout
block content 

  h2 Restaurant Menu

  if restaurant.menu && restaurant.menu.length 
    ul 
      each item in restaurant.menu 
        li= item.food.name 
  else 
    p No food in menu yet